html {
	background-color: #000;
	color: #851aaa;
}

aside {
	text-align: center;

	align-content: center;
	padding: 0% 10%;
	background-color: #1324aa;
	margin: 0px 50px;

}

h1 {
	color: #e5e5fa
	font-size: 50px;
}

nav {
	background-color: #ccc;
	padding: 10px;
} 

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
display: inline-block;
margin: 0 7px;
font-size: 21px;
}

li a:link,li a:active,li a:hover,li a:visited {
	color: #000;
	text-decoration: none;

}

li a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #fff;

}
section {
	width: 56%;
	padding: 18px;
	display: inline-block;
	background-color: #CB2018;
}