html {
	font-family: Arial;
	background-color: #000;
	color: #CEF6F5;
}

header {
	text-align: center;

	align-content: center;
	padding: 0% 10%;
	background-color: #3B00FC;
	margin: 0px 50px;

}

h1 {
	color: #e5e5fa;
}

nav {
	background-color: #ccc;
	padding: 100px;
	align-content: right;
	align-self: right;
	display: inline-block;
} 

nav ul {
	list-style-type: none;
	text-align: center;
	height: 80%;
}

nav ul li {
display: list-item;
margin: 10px 7px;
font-size: 80px;
padding: 10px 5px;
}

li a:link,li a:active,li a:hover,li a:visited {
	color: #000;
	text-decoration: overline;
	padding-bottom: 50px;

}

li a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #fff;

}
aside {
	width: 20%;
	padding: 10px;
	float: left;
	background-color: #585aaa;
	
}
section {
	width: 60%;
	float: right;
}

.container {
width: 75%;
margin: 0 auto;
}



body {
background-color: #FD2802;
color: #fff;
font-family: Arial;
}